---
import BaseLayout from "./BaseLayout.astro";
const {bg = '/assets/img/bg.webp', fog = true} = Astro.props;
---
<BaseLayout {fog} {bg}>
    <main class="w-full h-full flex flex-col justify-center items-center overflow-hidden">
        <slot/>
    </main>
</BaseLayout>
